.contact-form {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-form-content {
    background-color:hsla(0, 9%, 82%, 0.3);
}
.main-form {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.fields-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
}
.fields-form h1 {
    font-family: "Yesteryear", cursive;
    color: #cbb075;
    font-size: 65px;
    text-shadow: -3px 0px 5px rgba(150, 150, 150, 0.82);
}
.fields-form button {
    margin: 30px;
    font-family: "Yesteryear", cursive;
    color: #cbb075;
    font-size: 30px;
}
.general-input {
    margin: 20px 0;
    border:none;
    border-bottom: 1px solid grey;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fields-form textarea {
    border:none;
    border-bottom: 1px solid grey;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100px;
    margin: 20px 0;
}

.favourite-cock-choice {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.radio-buttom-field {
    margin: 10px 0;
    color: #19191c;
    font-size: 15px;
}

.submit-form {
    padding: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #19191c;
    color: #cbb075;
    font-size: 25px;
    font-family: "Assistant", sans-serif;
    cursor: pointer;
    outline: 0;
    margin: 40px 0 0 10px;
    width: 200px;
}

.fields-form ::placeholder { 
    color: #19191c;
    font-size: 15px;
    font-family: "Assistant", sans-serif;
  }

.favourite-cock-choice p, .radio-buttom-field label {
    font-family: "Assistant", sans-serif;
}

  @media screen and (max-width: 900px) { 
.fields-form h1 {
    font-size: 40px;
}
.fields-form {
    width: 70%;
}
}