$black: #19191c;
$gold: #cbb075;
$white: #ddd1c6;
$marron: #846e66;

.labWrapper {
    display: flex;
    flex-direction: column;
}


.labIngWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
    color: $gold;
}

.labIngWrapper h1 {
  font-family: "Yesteryear", cursive;
  font-size: 60px;
}

.labIngWrapper h2 {
  font-family: "Assistant", sans-serif;
  font-size: 35px;
}

.labIngWrapper ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.labIngWrapper ul li {
    font-family: "Assistant", sans-serif;
    font-size: 22px;
    margin: 20px;
    border: 2px $gold solid;
    padding: 5px;
    list-style-type: none;
    user-select: none;
    transition: ease 0.5s;
    border-radius: 10px;
    outline: 0;

}

.labIngWrapper ul li:hover {
    cursor: pointer;
}

.liclicked {
    transition: ease 0.5s;
    background-color: $gold;
    color: $black;
}

.labIngWrapper button {
    font-family: "Assistant", sans-serif;
    padding: 6px 50px;
    font-size: 25px;
    margin-bottom: 15px;
    background-color: $gold;
    color: $black;
    border: 0;
    border-radius: 10px;
}

.verreSpacer {
    height: 30px;
    width: 100%;
    background-color: $white;
}

.verreWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    background-color: $white;
    overflow: hidden;
}

.verreWrapper img {
    width: 25%;
}

.verreColorWrapper {
    position: absolute;
    bottom: 35px;
    width: 25%;
}

.verreColorWrapper div {
    font-family: "Assistant", sans-serif;
    text-align: center;
    padding: 2px 0;
    color: $black;
}


@media (min-width: 900px) {
    .labWrapper {
      flex-direction: row;
      padding: 50px 0;
    }
    .verreSpacer {
        display: none;
    }
    .labIngWrapper {
        width: 100%;
    }
    .verreWrapper img {
        width: 45%;
    }
    .verreColorWrapper {
        position: absolute;
        bottom: 42px;
        width: 45%;
    }
    .verreWrapper img {
        position: absolute;
        bottom: 25px;
    }
  }
