nav {
  position: relative;
  z-index: 20;
  width: 100%;
  padding: 10px;
  background-color: #19191c;
}
.menuBurger {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.navElements {
  display: flex;
  justify-content: flex-end;
}
#titleMenu {
  padding: 0 25px 0 20px;
  font-size: 50px;
  color: #cbb075;
}
.bars {
  background-color: #cbb075;
  width: 60px;
  height: 6px;
  margin: 6px 0;
  border-radius: 1px;
}
#menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
}
#menu ul li {
  color: white;
  font-size: 30px;
  margin: 20px 0 10px;
}
#menu {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.menuClose {
  transform: translateY(-100%);
  transition: 0.8s ease;
  background-color: rgba(27, 27, 27, 0.5);
}
.menuOpen {
  transform: translateY(0);
  background-color: rgba(10, 10, 10, 0.5);
  transition: 0.8s ease;
}

a {
  color: inherit;
  text-decoration: none;
}
#titleNav {
  padding: 0 300px 0 20px;
  font-size: 50px;
  color: #cbb075;
}

#menu ul li:hover {
  color: #cbb075;
  transform: scale(1.5);
  transition: 0.5s ease;
}
.line {
  width: 3px;
  height: 80px;
  background-color: #cbb075;
  border-radius: 10px;
}
