$colorBrownLight: #ddd1c6;
$colorBrown: #846e66;

.presBoxesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $colorBrownLight;
  color: $colorBrown;
  padding: 50px;
  width: 100%;

}
.presBoxesContainer h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Yesteryear", cursive;
  font-weight: 100;
}
.presBoxesContainer p {
  font-family: "Assistant", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 35px;
}
.presBoxesCardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;

}
.presBoxCardMain{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .presBoxesCardContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    grid-gap: 0px;
  }
  .presBoxCardMain{
    margin-bottom: 50px;
  }
  .presBoxesContainer {
    padding: 10px;
  }
  .presBoxesContainer h1 {
    font-size: 3rem;
  }
  .presBoxesContainer p {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1352px) {
  .presBoxesCardContainer {
    grid-template-columns: 1fr 1fr;
  }
}
