// Font family
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Yesteryear&display=swap");

$fontStyleh1: "Yesteryear", cursive;
$fontStylep: "Assistant", sans-serif;

// Color definition for text
$colorGold: #cbb075;
$colorBrown: #846e66;

//Color definition for background
$colorBrownLight: #ddd1c6;
$colorBrownDark: #19191c;

.recipe-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  background-color: $colorBrownLight;
}

.recipe-page-prez h1 {
  text-align: center;
  font-family: 'Yesteryear', cursive;
  color: $colorGold;
  font-size: 60px;
}
.recipe-page-prez p {
  font-family: "Assistant", sans-serif;
  color:  #846e66;
  padding: 35px;
}

.fichesCocktailAll {
  padding: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.ficheCocktailSimple {
  position: relative;
  width: 350px;
  min-width: 250px;
  height: 500px;
}

