.teamContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #DDD1C6;
    color: hsl(16, 13%, 46%);
    padding: 50px;
    width: 100%;
}
.teamContainer h1 {
    text-align: center;
    font-family: 'Yesteryear', cursive;
    font-size: 60px;
    font-weight: 100;
}
.teamContainer p {
    font-family: "Assistant", sans-serif;
    font-size: 35px;
    padding: 35px;
}
.memberContainer {
    padding: 0px 30px 0px 30px;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.memberImg {
    filter: grayscale(100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 6px hsl(15, 13%, 46%);
    transition: 0.3s ease;
}
.memberImg:hover {
    filter: grayscale(0%);
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
    .teamContainer {
        padding: 20px;
    }
    .teamContainer p {
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (min-width: 0px) and (max-width: 922px) {
    
    .memberContainer {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .memberImg {
        margin-bottom: 50px;
        height: 250px;
        width: 250px;
    }
}
@media only screen and (min-width: 923px) and (max-width: 1100px) {
    .memberImg {
        height: 250px;
        width: 250px;
    }
}