// Font family 
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Yesteryear&display=swap");

$fontStyleh1: "Yesteryear", cursive;
$fontStylep: "Assistant", sans-serif;

// Color definition for text
$colorGold: #CBB075;
$colorBrown: #846E66;

//Color definition for background
$colorBrownLight: #DDD1C6;
$colorBrownDark: #19191C;

// Elements principaux de la page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, cursive;
}

a {
  color: inherit;
  text-decoration: none;
}
.margin {
  margin-top: 95px;
}
@media only screen and (min-width : 320px) and (max-width : 768px) {
  .margin {
    margin-top: 65px;
  }
}